We have a few ETL functions from our Python EDA that we want to migrate to, for example, a cloud-based setting.

Notable ETL functions include:

- Placing the data in space and time -- northeastern US, starting on 2004,3,23
    - by locating thanksgiving and christmas we could deduce a seasonal 

    - arimax on the sales section level?

In [3]:
from database import engine, get_db
from my_url import _SQLALCHEMY_DATABASE_URL
from dunnhumby_data_warehouse import DunnHumbyDataWarehouse
import pandas as pd

In [4]:
a = DunnHumbyDataWarehouse()

2023-10-31 15:08:50,727 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-10-31 15:08:50,728 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-10-31 15:08:52,862 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-10-31 15:08:52,864 INFO sqlalchemy.engine.Engine [raw sql] ()
table campaign_desc is up to date
table campaign_table is up to date
table causal_data is up to date
table coupon is up to date
table coupon_redempt is up to date
table daily_campaign_sales is up to date
table hh_demographic is up to date
table hh_summary is up to date
table product is up to date
table transaction_data is up to date

In [4]:
df = pd.read_csv('../data/daily_campaign_sales.csv')

In [5]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:

df.to_sql(name='daily_campaign_sales',
                con=_SQLALCHEMY_DATABASE_URL,
                #  if_exists='append',
                if_exists='replace',
                chunksize=999,
                method='multi')

17597

In [26]:
a.get_table('daily_campaign_sales')

       index  DAY  SALES_VALUE  campaign_id
0          0  101        63.77           10
1          1  102        93.07           10
2          2  103        89.46           10
3          3  104        49.88           10
4          4  105        26.88           10
...      ...  ...          ...          ...
17592  17592  704       164.03            9
17593  17593  705       272.35            9
17594  17594  706       192.88            9
17595  17595  707       131.86            9
17596  17596  708       150.80            9

[17597 rows x 4 columns]

In [8]:
# startup the API server using `uvicorn main:app --reload` in the shell

# Derived Tables

The code below is being adapted from previous work I did on DunnHumby. 

Because of the data coming out of the db now, some column names need to be lowercased.

The operations below represent a complex combination of data cleaning steps and table joins; there's way too much going on

In [9]:
# Transforming TRANSACTION DATA AND PRODUCT


import datetime as dt
import pandas as pd
import numpy as np



# def hh_summary_create():
# TODO:  ### consider dropping unnecessary columns
### this currently rips directly from the data source, making the data lake obsolete
### 


### TRANSACTION DATA

transactions = pd.read_csv('../data/transaction_data.csv')
#self.get_table('transaction_data')

# filtering empty sales rows..
transactions = transactions[(transactions['QUANTITY'] > 0) & 
                (transactions['SALES_VALUE'] > 0)]

# add datetime values. this should be back-integrated with the data ingestion procedure, now that we have it
day1 = dt.datetime(2004, 3, 23) # as derived in transactions notebook; datetime for 'DAY' == 1
ineedthismany = transactions['DAY'].max()
last = day1 + dt.timedelta(days=int(ineedthismany))
date_range = pd.date_range(day1, last) # date range for our data

# map datetime index to DAY; enumerate() indexes from 0, so we add 1
date_map = {i+1:x for i, x in enumerate(date_range)}
transactions['datetime'] = transactions['DAY'].map(date_map)
# truncate data

# filtering on datetime (data acquisition inconsistency?)
transactions = transactions[(transactions['datetime'] >= "2004-7-1") &
                (transactions['datetime'] < "2006-3-1")]



###  PRODUCT 
prod = pd.read_csv('../data/product.csv')
# Merge
merged = transactions.merge(prod.drop('CURR_SIZE_OF_PRODUCT', axis=1))

# Remove Gasoline Sales
merged.drop(merged[merged['SUB_COMMODITY_DESC']=='GASOLINE-REG UNLEADED'].index, axis=0, inplace=True)
merged.drop(merged[merged['COMMODITY_DESC']=='GASOLINE-REG UNLEADED'].index, axis=0, inplace=True)

# Add section labels
with open('../Section_Labels.txt', 'r') as f:
    product_section_map = eval(f.readlines()[0])
ser = merged['COMMODITY_DESC'].map(product_section_map) # hardcoded;
ser = ser.fillna('misc') # for exceptions ?

merged['Section Labels'] = ser

# Remove one-day transactions -- outliers?
def one_day_transactions(df) -> list:
    no_days = df.groupby('household_key').agg({'DAY':'nunique'})
    return list(no_days[no_days['DAY'] == 1].index)

# remove households with only 1 day of purchases;
merged = merged[~merged['household_key'].isin(one_day_transactions(merged))]    







### Creating Customer-Level Sales by Section Labels
section_dummies = pd.get_dummies(merged['Section Labels'])
#print(section_dummies.sum().sum())
# the transaction-level (item) binary flags for
#section_dummies.sum()

### total sales by section, for each household
### may want to break this out further, into ie. weekly, bi-weekly, monthly, or quarterly sales totals for each section
section_sales = section_dummies.apply(lambda x : x * merged['SALES_VALUE'])
hh_agg = section_sales.join(merged['household_key']).groupby('household_key').agg({col:'sum' for col in section_dummies.columns})

hh_agg['total_sales'] = hh_agg.sum(axis=1)

In [10]:


# ADDING RFM SCORE

last_days = merged.groupby('household_key')['DAY'].max()
R = pd.cut(last_days, [0, 525, 615, 675, 700, np.inf], labels=[1,2,3,4,5], ordered=True).astype('int')
num_baskets = merged.groupby('household_key')['BASKET_ID'].nunique()
grouper = merged.groupby('household_key')['DAY']
days_in_data = grouper.max() - grouper.min() + 1 #(no day 0 in our data)
transactions_per_day = num_baskets/days_in_data
F = pd.qcut(transactions_per_day, 5, labels=[1,2,3,4,5]).astype('int')
M = pd.qcut(np.log(merged.groupby('household_key')['SALES_VALUE'].sum()), 5, labels=[1,2,3,4,5]).astype('int')
temp = pd.concat([R, F, M], axis=1)
temp.columns = ['r_score', 'f_score', 'm_score']
temp['rfm_score'] = temp.sum(axis=1).astype(int)
customer_ranks = pd.cut(temp['rfm_score'], bins=[0,6,9,13,15, np.inf], labels=[1,2,3,4,5], right=False).astype(int)
customer_ranks = pd.DataFrame(customer_ranks) ## THIS IS HACKY BRO
temp['rfm_bins'] = customer_ranks

hh_agg = temp.merge(hh_agg, on='household_key').reset_index()

In [11]:


# DEMOGRAPHIC DATA



demo = pd.read_csv('../data/hh_demographic.csv')
## Alternate Mappings
demo['age_45_plus'] = demo['AGE_DESC'].map({ '19-24':0,
                                        '25-34':0,
                                        "35-44":0,
                                        '45-54':1,
                                        '55-64':1,
                                        '65+':1,
                                        })


demo['income_50K_plus'] = demo['INCOME_DESC'].map({
                        'Under 15K': 0,
                            '15-24K': 0,
                            '25-34K': 0,
                            '35-49K': 0,
                            '50-74K': 1,
                            '75-99K': 1,
                            '100-124K': 1,
                            '125-149K': 1,
                            '150-174K': 1,                   
                            '175-199K': 1,  
                            '200-249K': 1,
                            '250K+': 1,
                        })

# leaving household_size desc IN as a category; single, couple, 3+
demo['single_couple_family'] = demo['HOUSEHOLD_SIZE_DESC'].map({'1':1, '2':2, '3':3,'4':3,'5+':3})
#demo['single_couple_family'] = pd.Categorical(demo['single_couple_family'], 
#                                                [1,2,3,])


demo['has_kids'] = np.where((demo['HH_COMP_DESC'] == '1 Adult Kids') |
                            (demo['HH_COMP_DESC'] == '2 Adults Kids') |
                            (demo['HOUSEHOLD_SIZE_DESC'].isin(['3', '4', '5+'])),
                            1, 0)

demo['single'] =  np.where((demo['HH_COMP_DESC'] == 'Single Female') |
                            (demo['HH_COMP_DESC'] == 'Single Male') |
                            (demo['HOUSEHOLD_SIZE_DESC'] == '1'),
                            1, 0)

demo['couple'] =  np.where((demo['HH_COMP_DESC'] == '2 Adults No Kids'),
                            1, 0)

demo = demo.drop(['AGE_DESC', 'MARITAL_STATUS_CODE', 
            'INCOME_DESC', 'HOMEOWNER_DESC', 'HH_COMP_DESC', 
            'HOUSEHOLD_SIZE_DESC', 'KID_CATEGORY_DESC'], axis=1)


# binary flags for low and high income; low and high age; based on distributions of values in a known data set?

hh_summary = demo.merge(hh_agg, on='household_key')

In [12]:
### HH_SUMMARY OUTPUT

hh_summary.to_sql(name='hh_summary',
                con=_SQLALCHEMY_DATABASE_URL,
            #      if_exists='append',
                if_exists='replace',
                #chunksize=999,
                method='multi')

# hh_summary.to_csv('../data/hh_summary.csv')

801

In [13]:
# hh_summary_create()


df = a.get_table('hh_summary')
df

,index,household_key,age_45_plus,income_50K_plus,single_couple_family,has_kids,single,couple,r_score,f_score,...,grain_goods,grocery,home_family,junk_food,kitchen,meat,misc,produce,seasonal,total_sales
0,0,1,1,0,2,0,0,1,5,3,...,668.41,230.24,537.29,764.02,1.59,379.04,303.82,477.82,0.00,4120.07
1,1,7,1,1,2,0,0,1,5,3,...,248.84,141.06,648.67,248.54,0.00,616.74,191.86,371.61,13.46,3170.21
2,2,8,0,0,3,1,0,0,5,4,...,427.40,213.37,901.81,389.36,34.68,956.70,379.84,545.26,15.98,5075.29
3,3,13,0,1,3,1,0,0,5,5,...,611.88,229.27,2771.53,829.34,18.71,604.16,764.12,578.87,70.93,8701.99
4,4,16,1,1,1,0,1,0,4,3,...,279.85,73.24,72.17,127.63,8.07,224.09,137.36,90.22,0.00,1224.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
796,796,2494,0,1,2,0,0,1,5,1,...,150.75,108.10,281.83,292.02,0.00,374.05,139.68,280.89,1.00,2007.99
797,797,2496,1,1,3,1,0,0,4,2,...,321.16,103.29,424.82,360.46,7.48,1587.79,358.50,332.36,1.79,4015.65
798,798,2497,1,0,1,0,1,0,4,5,...,570.01,350.91,868.09,832.75,3.99,1560.83,529.81,940.00,23.47,6792.55
799,799,2498,0,1,2,0,0,1,5,5,...,319.38,145.57,262.77,252.69,0.00,305.32,128.00,228.36,0.00,2524.85
800,800,2499,0,0,3,1,0,0,5,3,...,410.93,201.37,301.42,419.25,11.96,414.19,231.88,184.27,0.00,2762.96

# Streamlit App Data Reconstruction

The streamlit apps I constructed previously depend on the result of various ETLs which were a part of my prior data processing workflow (the DTCJ python "package").

Creating a package of python functions which transform raw data into tangible insights was a great learning process over winter 2021/spring 2022; but the functionality I was looking for is much better served in a persisted database.

In the following cells I'll be simply porting the constructed data into the database; if it were necessary, I would create the data pipeline process once again.

I realize that this data warehouse is sort of patched together; but this has been yet another great learning experience for me. Getting hands on experience defining my own database schemas and API transaction models to power a front-end delivery is a completion of sorts in my data journey. 

While I still have a long ways to go in terms of implementing MLOps or DevOps procedures, I stand by my original assessment that basic analytics can answer many business questions -- and that to have reliable insights, one must ensure the quality of the data first.

In [14]:
import pandas as pd
import glob

In [15]:

# THIS FUNCTION HAS BEEN ALTERED
def make_date_map(df, dates='DAY'):
    # 'DAY' 1 == 2004-03-23
    day1 = datetime.datetime(2004, 3, 23) # as derived in transactions notebook; datetime for 'DAY' == 1
    #ineedthismany = df[dates].max()
    last = day1 + datetime.timedelta(days=int(999))
    date_range = pd.date_range(day1, last) # date range for our data
    # map datetime index to DAY; enumerate() indexes from 0, so we add 1
    date_map = {i+1:x for i, x in enumerate(date_range)}

    #output = df[dates].map(date_map)
    #output = pd.to_datetime(output)
    return date_map

In [16]:
import datetime
date_map = make_date_map(df, dates='First Day')
#make_date_map(df, dates='Last Day')

In [17]:

# this table holds both a list of products, for each campaign; 
# it's unstructured data
df = pd.read_csv('streamlit_frontends/campaign_performance/data/campaign_summary.csv', index_col=0)
df.reset_index(names='campaign_id', inplace=True)
df.head(2)

,campaign_id,First Day,Last Day,Duration,Listed Products,Section Label Counts,Listed Products Total Sales,Listed Products Sales Before,Listed Products Sales During,Listed Products Sales After,avg. total,avg. before,avg. during,avg. after,first,last
0,1,346,383,38,"[28929, 29096, 32387, 32805, 33198, 34180, 343...","{'dairy': 13496, 'produce': 7565, 'beverages':...",56764.87,21854.53,4145.12,30765.22,92.904861,88.839553,109.082105,93.511307,346.0,383.0
1,2,351,383,33,"[49910, 61481, 61509, 67573, 80730, 82937, 857...","{'produce': 5763, 'grocery': 2952, 'junk_food'...",47328.04,19708.03,2713.86,24906.15,77.459967,78.518048,82.238182,75.702584,351.0,383.0

In [18]:
df['campaign_start_date'] = df['First Day'].map(date_map)

df['campaign_end_date'] = df['First Day'].map(date_map)

In [19]:
df.to_csv('../data/campaign_summary.csv')

In [20]:
#df = pd.read_csv('streamlit_frontends/household_analytics_table/data/hh_summary.csv')
# df1 = pd.read_csv()
    
# this table holds the total sales values for the products from each campaign; before, during, and after the campaign
df1 = pd.read_csv('streamlit_frontends/campaign_performance/data/campaign_sales.csv', index_col=0)
# df1

In [21]:
df1

          total       before       during        after  first   last
1     93.445925    88.839553   109.082105    94.516140  346.0  383.0
2     78.007447    78.518048    82.238182    76.719331  351.0  383.0
3     70.839051    70.327734    77.519123    69.533900  356.0  412.0
4     57.659460    58.944632    56.312727    56.294383  372.0  404.0
5     48.305499    55.889928    52.226000    40.548970  377.0  411.0
6      3.272602     1.095358     4.718788     5.306272  393.0  425.0
7     23.316039    21.576309    21.755429    25.196143  398.0  432.0
8   4094.791391  4027.016442  4261.931020  4113.705516  412.0  460.0
9    175.363142   163.660060   183.994848   188.771143  435.0  467.0
10    62.125843    67.206006    53.849394    54.313733  463.0  495.0
11    41.995336    40.341936    42.321064    44.767989  477.0  523.0
12   179.722570   179.784191   175.923333   178.455074  477.0  509.0
13  5957.363912  5886.589035  5852.571042  6092.198571  504.0  551.0
14    74.085597    74.799188    69.242121    72.912672  531.0  596.0
15     4.719034     4.151298     6.223025     4.892500  547.0  708.0
16    37.931391    33.990868    48.667576    49.582017  561.0  593.0
17   147.867627   146.232884   150.219394   151.707238  575.0  607.0
18  5906.081800  5807.849856  6264.883750  6133.708714  587.0  642.0
19    69.368380    63.212565    94.107879    97.176623  603.0  635.0
20    65.423355    64.853631    68.457746    63.464815  615.0  685.0
21    22.120540    21.082748    26.837576    28.261607  624.0  656.0
22   188.705008   184.351660   225.821212   200.828393  624.0  656.0
23   156.302406   151.169744   208.212308   172.921786  646.0  684.0
24   183.070033   180.596726   205.702264     0.000000  659.0  711.0
25   257.923715   254.073846   317.668182   241.955238  659.0  691.0
26   631.486350   580.196290   723.033659   634.485357  224.0  264.0
27    68.398592    71.123358    72.731719    66.487403  237.0  300.0
28   142.698543   138.517107   172.626935   138.932959  259.0  320.0
29   148.202144   132.107238   166.715370   152.480079  281.0  334.0
30   604.016465   581.502377   682.826596   604.332886  323.0  369.0

In [22]:

# proportion of sales by section; by campaign
# df2 = pd.read_csv('streamlit_frontends/campaign_performance/data/section_value.csv', index_col=0)
# #df2 = df2.T.reset_index(names='campaign_id')#
# df2 = df2.drop('sum', axis=0)
# df2

In [23]:
## aggregate campaign-specific daily sales data

output = []
for x in glob.glob('streamlit_frontends/campaign_performance/data/camp_sales/*'):
    temp = pd.read_csv(x)
    camp_id = x.split('/')[-1].split('\\')[-1].split('_')[-2]
    temp['campaign_id'] = camp_id
    output.append(temp)

output = pd.concat(output)

In [24]:
# daily campaign sales OUT
output.to_csv('../data/daily_campaign_sales.csv')

In [25]:
output

     DAY  SALES_VALUE campaign_id
0    101        63.77          10
1    102        93.07          10
2    103        89.46          10
3    104        49.88          10
4    105        26.88          10
..   ...          ...         ...
602  704       164.03           9
603  705       272.35           9
604  706       192.88           9
605  707       131.86           9
606  708       150.80           9

[17597 rows x 3 columns]